<div class="header__info">
  <div class="header__logo">
    <span class="header__logo-image"></span>
    <span class="header__logo-text">Aggregator Logo</span>
  </div>
  <div class="header__login">
    <button mat-raised-button class="header__login-button">Log In</button>
  </div>
</div>
<mat-toolbar class="header__caption">
  <h2>Source Name</h2>
</mat-toolbar>
<div *ngIf="this.router.url === '/'" class="header__navigation">
  <mat-select placeholder="Select" class="header__navigation-select">
    <mat-option value="option">Option</mat-option>
  </mat-select>
  <div class="header__navigation-input-wrapper">
    <mat-form-field>
      <input matInput placeholder="Type your text...">
    </mat-form-field>
    <button mat-raised-button>Filter</button>
  </div>
  <mat-checkbox>Only created by me</mat-checkbox>
  <button mat-raised-button routerLink="/add">Add Article</button>
</div>
