.header {
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 0;
    padding: 10px 15px;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-image {
      height: 20px;
      width: 20px;
      border: 1px #444444 solid;
      margin-right: 10px;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    &-select {
      max-width: 130px;
    }

    &-input-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & mat-form-field {
        margin-right: 5px;
        padding-top: 10px;
      }
    }
  }
}
