<div class="article">
  <div class="article__info">
    <div class="article__info-image"></div>
    <div class="article__info-main">
      <h3 class="article__info-main-title">{{article.title}}</h3>
      <p class="article__info-main-description">{{article.description}}</p>
      <span class="article__nav-date">{{article.publishedAt}}</span>
    </div>
  </div>
  <div class="article__nav">
    <div class="article__nav-buttons">
      <button mat-raised-button routerLink="/">Edit</button>
      <button mat-raised-button routerLink="/">Delete</button>
    </div>
  </div>
</div>
